{% extends 'base.html' %}

{% block title %}
  Website - Login   
{% endblock title %}

{% block head %}
  
{% endblock head %}


{% block content %}
<section>
    <div class="container mt-4">
        <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <div class="is-size-3">
                    Login
                </div>

                <div class="card is-shadowless bordered mt-4">
                    <div class="card-content">
                        <form class="mt-4" method="post" action="">
                            <div class="field">
                                <label for="email">
                                    Email
                                </label>
                                <input type="email" name="email" 
                                    required
                                    id="email" class="input"/>
                            </div>
                            <div class="field">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" name="password" 
                                    required
                                    id="password" class="input"/>
                            </div>
                            
                            {% if data.next %}
                                <input type="hidden" name="next" value="{{data.next}}"/>
                            {% endif %}
                                
                            
                            <div class="field">
                                <button class="button is-dark is-fullwidth">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>  
{% endblock content %}


{% block footer %}
  
{% endblock footer %}
