{% extends 'base.html' %}

{% block title %}
  Website - Login   
{% endblock title %}

{% block head %}
  
{% endblock head %}


{% block content %}
<section>
    <div class="container mt-4">
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="mt-4">
                    <div class="is-size-4">
                        List of users
                    </div>
                    <div class="mt-4">
                        <table class="table is-fullwidth is-bordered">
                            <thead>
                                <tr>
                                    <th>First name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Date Reg.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                  <tr>
                                      <td>{{user.first_name}}</td>
                                      <td>{{user.last_name}}</td>
                                      <td>{{user.email}}</td>
                                      <td>{{user.date_created}}</td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>  
{% endblock content %}


{% block footer %}
  
{% endblock footer %}
