{% extends 'base.html' %}

{% block title %}
  Website - Login   
{% endblock title %}

{% block head %}
  
{% endblock head %}


{% block content %}
<section>
    <div class="container mt-4">
        <div class="is-size-1">
            Welcome to Website with Flask
        </div>
        <div class="content mt-4">
            <ul class="is-size-3">
                <li>
                    Manage User Authentications
                </li>
                <li>
                    Provide API
                </li>
                <li>
                    Flask Admin
                </li>
            </ul>
        </div>

            
        </div>
    </div>
</section>  
{% endblock content %}


{% block footer %}
  
{% endblock footer %}
